@import url('https://fonts.googleapis.com/css?family=Bowlby+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');

body
{
	background-image: url("images/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.header
{
	width: 30em;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	margin-bottom:8em;
}

.header .logo img
{
	float:left;
	position: relative;
	top:1.6em;
	left:0em;
	width: 7em;
	
	border-radius: 100%;
	border: 0.7em solid #000000cc;
}

.header .logoText
{
	position: relative;
	top:-0.2em;
	left:-0.8em;
	
	margin-left:150px;
	
	transform: rotate(-11deg);
}

.header .logoText h1,
.header .logoText h2
{
	display:inline-block;
	
	margin:0;
	padding:0;
	padding-left:0.5em;
	padding-right:0.5em;
	
	color: white;
	font-family: Bowlby One;
	text-transform: uppercase;
	text-shadow: 0.08em 0.08em #820404;
	
	background-color:#000000cc;
}

.header .logoText h1
{
	margin-top:0.2em;
	font-size:2.2em;
}

.header .logoText h2
{
	
}

@media screen and (max-width: 30em )
{
	.header
	{
		width: 100%;
		margin-bottom:3em;
	}
	
	.header .logo
	{
		text-align:center;
	}
	
	.header .logo img
	{
		float:none;
		position:static;
		top:0;
		left:0;
	}
	
	.header .logoText
	{
		display:block;
		position:static;
		top:0;
		left:0;
		margin-left:0;
		transform: none;
		text-align:center;
	}
}

.mainFrame
{
	width: 70em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

@media screen and (max-width: 70em )
{
	.mainFrame
	{
		width: 100%;
		margin-left:auto;
		margin-right:auto;
	}
}

.mainFrame h1
{
	display:inline-block;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding-left:0.5em;
	padding-right:0.5em;
	
	background-color:#000000cc;
	text-shadow: 0.08em 0.08em #820404;
	
	text-align:center;
	
	color:white;
	font-family: Bowlby One;
	text-transform: uppercase;
	font-size:1.8em;
}

.textBlock
{
	background-color:#000000cc;
	padding:0.5em;
	padding-left:1.5em;
	padding-right:1.5em;
	margin-bottom:7em;
	
	color:white;
	font-family: Montserrat;
	text-align:left;
	font-size:0.95em;
}

.mainFrame h2
{
	font-weight:bold;
	font-size:1.2em;
}

.initiatives
{
	margin-top:2em;
	margin-bottom:7em;
	height:26em;
}

.initiative
{
	display:inline-block;
	width:29em;
	height:26em;
	float:left;

	background-color:#000000cc;
	padding:1.5em;
	margin-left:1.5em;
	margin-right:1.5em;
	
	color:white;
	font-family: Montserrat;
	text-align:left;
}

.initiative img
{
	width:100%;
	max-width:30em;
}

@media screen and (max-width: 70em )
{
	.initiatives
	{
		height:auto;
	}

	.initiative
	{
		width:calc(100% - 3em);
		height:auto;
		float:none;
		
		padding:1.5em;
		margin-left:0;
		margin-right:0;
		margin-bottom:2em;
	}
}

.links
{
	margin-bottom:7em;
}

.links .link
{
	display:inline-block;
	width:20em;
}

.links .link h2
{
	display:inline-block;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding-left:0.5em;
	padding-right:0.5em;
	background-color:#000000cc;
	
	color:white;
	font-family: Bowlby One;
	text-transform: uppercase;
	font-size:1.1em;
}

.links .link a
{
	display:inline-block;
	width:5em;
	height:5em;
	
	background-color:#000000cc;
	border-radius:100%;
	padding:2em;
}

.links .link a img
{
	width:100%;
}

hr
{
	border:1px solid white;
	margin:3em;
}

.key
{
	display:inline-block;
	border:1px solid #555555;
	padding:0.1em;
	background-color:black;
	border-radius:0.2em;
	font-family:mono;
	font-size:90%;
}
